.worklog-debts-list {
  &__body-row {
    width: 100%;

    &__collapsed {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 10px 20px;
      margin: 2px 0;
      height: 40px;
      border-radius: 10px;
    }

    &__expanded {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      &-enter {
        opacity: 0;
      }

      &-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-out;
      }

      &-exit {
        opacity: 1;
      }

      &-exit-active {
        opacity: 0;
        transition: opacity 500ms ease-out;
      }

      &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 5px 10%;
        border-bottom: 4px solid #f4f6fa;
        border-top: 4px solid #f4f6fa;
        background: #ffffff;
      }

      &__debts-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      }

      &__notification-failed {
        width: 70%;
      }

      &__header {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        margin-top: 3px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #888888;
      }

      &__body__container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #f4f6fa;
        border-radius: 16px;
        margin-bottom: 10px;
      }

      &__body__header {
        color: #888888;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      &__body__table-header {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      &__debt-row {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        background-color: #f4f6fa;
        padding: 20px;
        border: 1px solid #ddd;
        transition: all 0.2s ease-in-out;
        width: 100%;

        &:first-child {
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
        }

        &:last-child {
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
        }

        &__no {
          &__body-cell,
          &__header-cell {
            flex-basis: 10%;
            text-align: center;
          }
        }

        &__date {
          &__body-cell,
          &__header-cell {
            flex-basis: 45%;
            text-align: center;
          }
        }

        &__time {
          &__body-cell,
          &__header-cell {
            flex-basis: 45%;
            text-align: center;
          }
        }

        &__vacation-no {
          &__body-cell,
          &__header-cell {
            flex-basis: 10%;
            text-align: center;
          }
        }

        &__vacation-date {
          &__body-cell,
          &__header-cell {
            flex-basis: 45%;
            text-align: center;
          }
        }

        &__vacation-description {
          &__body-cell,
          &__header-cell {
            flex-basis: 45%;
            text-align: center;
          }
        }
      }

      &__debt-row:hover {
        background-color: #e8f0fe;
      }
    }
  }

  &__body-row__collapsed:hover {
    background: #f4f6fa;
    cursor: pointer;
  }

  &__empty {
    &__image {
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__text {
      margin: 20px;
      font-size: 30px;
      font-family: cursive;
    }
  }

  &__no {
    &__body-cell,
    &__header-cell {
      flex-basis: 5%;
      text-align: center;
    }
  }

  &__employee {
    &__body-cell,
    &__header-cell {
      flex-basis: 30%;
      text-align: center;
    }
  }

  &__debts-number {
    &__body-cell,
    &__header-cell {
      flex-basis: 15%;
      text-align: center;
    }
  }

  &__status {
    &__body-cell,
    &__header-cell {
      flex-basis: 35%;
      display: flex;
      justify-content: center;

      &__info {
        margin-left: 10px;
        color: #1960ea;
        cursor: pointer;
      }
    }
  }

  &__actions {
    &__body-cell,
    &__header-cell {
      flex-basis: 15%;
      text-align: center;
    }

    &__body-cell {
      display: flex;
      align-items: center;

      &__status-icon {
        display: inline-block;
        align-items: center;

        &__failed,
        &__pass {
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }
}
